.task-container-title {
  background-color: #5205f7;
  height: 70px;
  width: 100%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-container {
  width: 180vh;
  display: flex;
  height: 80vh;
  justify-content: space-around;
  /* border: 2px solid #132256; */
  background-color: #ebf1f8;
  color: #000;
}

.task-container-title h1 {
  margin-left: 15px;
}

.status-title {
  margin-left: 35%;
}

.no-data-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  max-height: 30vh;
  margin-right: 8%;
}

.in-progress {
  display: flex;
}

.task-card-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
}

.cards-container {
  width: 100%;
}

.task-container-title input {
  border: none;
  outline: none;
  padding: 8px;
  margin-right: 30vh;
  width: 50vh;
  border-radius: 5px;
}

.task-container-title button {
  margin-right: 15px;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: #028c1d;
  padding: 8px;
  cursor: pointer;
  color: #fff;
}

.not-done-title {
  text-align: center;
}

.done-tasks {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
.done-tasks h1 {
  text-align: center;
}

.not-done-tasks {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
