.task-card {
  min-height: 8vh;
  max-height: 6vh;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  color: #000;
  margin-bottom: 5px;
}

.task-title {
  display: flex;
  align-items: baseline;
}

.task-title h4 {
  margin-left: 8px;
  color: #4253af;
}

.task-title input {
  margin-left: 8px;
  border-radius: 50px;
}

#check {
  padding: 1px;
  width: 50px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  text-align: center;
}

.task-description {
  margin-left: 10px;
  margin-top: -5px;
}


.task-options {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

#dots:after {
  content: "\2807";
  font-size: 20px;
  color: #000;
}

.dropbtn {
  background-color: #fff;
  padding: 5px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  width: 15vh;
  height: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content button {
  color: black;
  text-decoration: none;
  outline: none;
  border: none;
  cursor: pointer;
  width: 15vh;
  display: block;
  font-size: 15px;
  font-weight: bolder;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.dropdown-content button:hover {
  background-color: #0059f7;
  color: #fff;
}

.dropdown:hover .dropbtn {
  background-color: #5205f7;
  border-radius: 2px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#delete {
  color: #ff0000;
  font-size: 20px;
}

#edit {
  color: #ffb300;
  font-size: 20px;
}

#done {
  color: #1daf06;
  font-size: 20px;
}

@media only screen and (max-width: 1100) {
  .two {
    width: 150px;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 10px;
  }
}
