.task-card {
  margin: 10px;
  width: 25vh;
  min-height: 18vh;
  max-height: 25vh;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  color: #000;
}

.task-title {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.task-title h2 {
  background-color: #dfd4f8;
  padding: 5px;
  border-radius: 12px;
  color: #6928f6;
}

.card-body {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 50%;
  max-height: 50%;
}

.card-checkbox {
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
  height: 50px;
}

#dots:after {
  content: "\2807";
  font-size: 20px;
  color: #000;
}

.dropbtn {
  background-color: #fff;
  padding: 5px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  width: 15vh;
  height: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content button {
  color: black;
  text-decoration: none;
  outline: none;
  border: none;
  cursor: pointer;
  width: 15vh;
  display: block;
  font-size: 15px;
  font-weight: bolder;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.dropdown-content button:hover {
  background-color: #0059f7;
  color: #fff;
}

.dropdown:hover .dropbtn {
  background-color: #5205f7;
  border-radius: 2px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#delete {
  color: #ff0000;
  font-size: 20px;
}

#edit {
  color: #ffb300;
  font-size: 20px;
}

#done {
  color: #1daf06;
  font-size: 20px;
}
